#clubhouse-button-container {
  position: relative;
  width: 100%;
  padding-bottom: 0.5em;
}

#search-input-box {
  border-radius: 3px;
  border: 2px solid #463460;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.25em 1em;
  background-color: #fafbfc;
}

#search-results-container {
  position: absolute;
  bottom: 4em;
  z-index: 9999;
  width: 50%;
  min-height: 20px;
  max-height: 300px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  overflow: scroll;
}
