#clubhouse-button-container {
  position: relative;
  width: 100%;
  padding-bottom: 0.5em;
}

#clubhouse-search-button {
  display: block;
  padding: 1em 2em;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #463460;
}

#search-input-box {
  border-radius: 3px;
  border: 1px solid #d1d5da;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.25em 1em;
  background-color: #fafbfc;
}

#search-results-container {
  position: absolute;
  bottom: 3em;
  z-index: 9999;
  width: 500px;
  min-height: 20px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
}
